<div>
    <h1>here is index</h1>
    <a href="/野球">
        <div>
            野球
        </div>
    </a>
    <a href="/バスケ">
        <div>
            バスケ
        </div>
    </a>
    <a href="/youtube">
        <div>
            youtube
        </div>
    </a>
    <a href="/ソフトボール">
        <div>
            ソフトバール
        </div>
    </a>
    <a href="/テニス">
        <div>
            テニス
        </div>
    </a>
</div>