<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./home.css">
    <title>ryota site title</title>
</head>
<body>
    <div class="example">
        <h1> スポーツ掲示板</h1>
    </div>

    <ul>
        <li><a  class="login" href="/users/login">logIn</a></li>
        <li><a href="/">ホームに戻る</a></li>
    </ul>
    <div class="container">
        <%- body %>
    </div>
    <a href="/">ホームに戻る</a>
</body>
</html>