<div>
    <form action="/<%= categoly %>/create" method="POST">
        <input type="text" name="title" placeholder="入力して" autofocus><br/>
        <input type="hidden" name="categoly" placeholder="Categoly" value="<%= categoly %>"><br/>
        <button type="submit">Create</button>
    </form>
</div>