<div>
    <h1>スポーツ一覧</h1>
    <a href="./<%= thread %>/new">追加</a>
    <% messages.forEach(( message, i) => { %>
        <div>
            <p><%= i %></p>
            <p><%= message.userName %></p>
            <h3><%= message.message %></h3>
        </div>

    <% }) %>

</div>